<div class="text-center mt-4">
  <%= link("start game", to: "/start", method: :post, class: "text-3xl bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded") %>
</div>
